<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURD OPRATION</title>
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <%- body%>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
        
        <script>

            //Data Table
            let table = new DataTable('.motabbir-student');

            // Update Image
            const studentImage = document.querySelector('#uplode__image')
            const PreloderImage = document.querySelector('.prelode__student')
            if(studentImage){
                studentImage.onchange = (e) =>{
                    e.preventDefault();
                    const imageLink = URL.createObjectURL(e.target.files[0])
                    PreloderImage.setAttribute('src', imageLink)
                }
            }

            //Deleted btn
            const deletedData = document.querySelectorAll('.deleted-btn')

            deletedData.forEach((item)=>{
                item.onclick = (e) => {
                    const conf = confirm("Are You Sure ?")

                    if (conf) {
                        return true;
                    }else{
                        return false
                    }
                }
            })
            
        </script>
    </body>
</html>
