*,
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", serif;
}

body{
    font-size: 17px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    font-family: "Manrope", serif;
}

.motabbir-student img{
    object-fit: cover;
    align-items: center;
    width: 100%;
    max-width: 60px;
    height: 60px;
    border-radius: 4px;
}

input[type="file"]{
    display: none;
}
label img{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.prelode__student{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* show-card */
.show-card .card-body__image img{
    object-fit: cover;
    width: 100%;
    max-height: 400px;
    margin-bottom: 30px;
    border-radius: 6px;
}
.show-card .author__name span,
.show-card .author__email span,
.show-card .author__call span,
.show-card .author__location span{
    font-size: 20px;
    color: #000000;
    text-transform: capitalize;
    max-width: 120px;
    width: 100%;
}
.author__email a,
.author__call a{
    text-decoration: none;
    color: #000000;
    transition: all 0.4s ease-in-out;

}
.author__email a:hover,
.author__call a:hover{
    color: #0d6efd;
}
.show-card .author__name ,
.show-card .author__email ,
.show-card .author__call ,
.show-card .author__location {
    text-transform: lowercase;
    display: flex;
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 10px;
}
.show-card .author__name{
    text-transform: uppercase;
}
.show-card .author__location{
    text-transform: capitalize;
}
.show-card{
    
}
.show-card{
    
}
.show-card{
    
}